.triple-choco {
    background-color: sienna;
    color: beige;
}

.red-velvet {
    background-color: brown;
    color: burlywood;
}

.matcha {
    background-color: darkkhaki;
    color: bisque;
}

img {
    border: 5px solid black;
  }