body {
    background-color: plum;
}
.title,
.recipe,
.slogan {
    text-align: center;
}

.title {
    color: white;
    font-family: 'Lucida Cursive', cursive, sans-serif;
}

.slogan {
    color: mistyrose
}


